.adicionar-cota {
    .card-body {
        margin-bottom: 35px;
    }

    label {
        width: 100%;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;
    }
}